<div class="container">
  <h3 class="mt-4 mb-3">Add new user</h3>

  <div *ngIf="userForm">
    <form [formGroup]="userForm.form" (ngSubmit)="saveUser()">
      <h5>Personal data</h5>

      <app-input
        formControlName="name"
        label="Name"
        [formControl]="userForm.form.get('name')"
        [errorMessages]="userForm.errorMessages.name">
      </app-input>

      <app-input
        formControlName="username"
        label="Username"
        [formControl]="userForm.form.get('username')"
        [errorMessages]="userForm.errorMessages.username">
      </app-input>

      <app-input
        formControlName="email"
        label="Email"
        [formControl]="userForm.form.get('email')"
        [errorMessages]="userForm.errorMessages.email">
      </app-input>

      <app-input
        formControlName="phone"
        label="Telephone"
        [formControl]="userForm.form.get('phone')"
        [errorMessages]="userForm.errorMessages.phone">
      </app-input>

      <app-input
        formControlName="website"
        label="Website"
        [formControl]="userForm.form.get('website')"
        [errorMessages]="userForm.errorMessages.website">
      </app-input>

      <div formGroupName="address">
        <h5>Address</h5>

        <app-input
          formControlName="city"
          label="City"
          [formControl]="userForm.form.get('address.city')"
          [errorMessages]="userForm.errorMessages.address.city">
        </app-input>

        <app-input
          formControlName="street"
          label="Street"
          [formControl]="userForm.form.get('address.street')"
          [errorMessages]="userForm.errorMessages.address.street">
        </app-input>

        <app-input
          formControlName="suite"
          label="Suite"
          [formControl]="userForm.form.get('address.suite')"
          [errorMessages]="userForm.errorMessages.address.suite">
        </app-input>

        <app-input
          formControlName="zipcode"
          label="ZIP code"
          [formControl]="userForm.form.get('address.zipcode')"
          [errorMessages]="userForm.errorMessages.address.zipcode">
        </app-input>

        <div formGroupName="geo">
          <h6>Geolocation</h6>

          <app-input
            formControlName="lat"
            label="Latitude"
            [formControl]="userForm.form.get('address.geo.lat')"
            [errorMessages]="userForm.errorMessages.address.geo.lat">
          </app-input>

          <app-input
            formControlName="lng"
            label="Longitude"
            [formControl]="userForm.form.get('address.geo.lng')"
            [errorMessages]="userForm.errorMessages.address.geo.lng">
          </app-input>
        </div>
      </div>

      <div formGroupName="company">
        <h5>Company</h5>

        <app-input
          formControlName="name"
          label="Company name"
          [formControl]="userForm.form.get('company.name')"
          [errorMessages]="userForm.errorMessages.company.name">
        </app-input>

        <app-input
          formControlName="catchPhrase"
          label="Catchphrase"
          [formControl]="userForm.form.get('company.catchPhrase')"
          [errorMessages]="userForm.errorMessages.company.catchPhrase">
        </app-input>

        <app-input
          formControlName="bs"
          label="Business strategy"
          [formControl]="userForm.form.get('company.bs')"
          [errorMessages]="userForm.errorMessages.company.bs">
        </app-input>
      </div>

      <button
        class="btn btn-success"
        type="submit"
        [disabled]="userForm.form.invalid || savingData">
        <span
          *ngIf="savingData"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true">
        </span>
        Save
      </button>
      <button
        class="btn btn-info ml-2"
        type="reset"
        [disabled]="savingData">
        Reset
      </button>
      <app-back-button additionalClass="ml-2"></app-back-button>
    </form>
  </div>
</div>
