<div class="form-group row">
  <label
    *ngIf="label"
    [ngClass]="['col-form-label', 'col-' + labelSize, required && !readOnly ? 'required' : '']"
    [attr.for]="id">
    {{label}}
  </label>
  <div [ngClass]="'col-' + (inputSize === 0 ? (12 - labelSize) : inputSize)">
    <input
      #inputElement
      [attr.id]="id"
      [attr.type]="type"
      [ngClass]="[readOnly ? 'form-control-plaintext' : 'form-control', showError() ? 'is-invalid' : '']"
      [readOnly]="readOnly"
      [attr.placeholder]="placeholder"
      (change)="onChange($event)"
      (keyup)="onKeyup($event)"
      (blur)="onBlur($event)">
    <div *ngIf="!readOnly && showError() && hasDefinedErrorMessages()"
         class="invalid-feedback">
      {{getErrorMessage()}}
    </div>
  </div>
</div>
