<div class="container">
  <h3>Edit user</h3>
  <div *ngIf="userForm">
    <form [formGroup]="userForm.form">
      <h5>Personal data</h5>
      <app-input
        formControlName="name"
        label="Name"
        labelSize="2"
        [formControl]="userForm.form.get('name')"
        [errorMessages]="userForm.errorMessages.name">
      </app-input>
      <!--<app-input-->
      <!--formControlName="username"-->
      <!--label="Username"-->
      <!--[formControl]="userForm.form.get('username')"-->
      <!--[errorMessages]="userForm.errorMessages.username">-->
      <!--</app-input>-->
      <!--<div formGroupName="address">-->
      <!--<h5>Address</h5>-->
      <!--<app-input-->
      <!--formControlName="street"-->
      <!--label="Street"-->
      <!--[formControl]="userForm.form.get('address.street')"-->
      <!--[errorMessages]="userForm.errorMessages.address.street">-->
      <!--</app-input>-->
      <!--<app-input-->
      <!--formControlName="suite"-->
      <!--label="Suite"-->
      <!--[formControl]="userForm.form.get('address.suite')"-->
      <!--[errorMessages]="userForm.errorMessages.address.suite">-->
      <!--</app-input>-->
      <!--</div>-->


      <button type="reset">Reset</button>
    </form>
  </div>
</div>
